*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 62.5%;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.background{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50rem;
	height: 50rem;
	background: linear-gradient(to bottom right, );}

.difficulty-menu {
	width: 20rem;
	background-color: #f2f2f2;
	border: 0.1rem solid #ccc;
	padding: 1rem;
	text-align: center;
  }
  
  .difficulty-menu h2 {
	margin-top: 0;
  }
  
  .difficulty-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .difficulty-menu li {
	margin: 0.5rem 0;
  }
  
  .difficulty-menu a {
	display: block;
	padding: 0.5rem;
	text-decoration: none;
	color: #333;
	border: 0.1rem solid #ccc;
  }
  
  .difficulty-menu a:hover {
	background-color: #ddd;
  }
  